.banner {
    align-items: center;
    background-size: cover;
    background-image: url("../img/0a_b9g-rm6w-austin-neill.jpg");
    background-position: center 33%;
    display: flex;
    min-height: 400px;
    justify-content: center;
}

.banner-content {
  text-align: center;
  width: 50%;
}
