a {
    color: red;
    text-decoration: none;
    opacity: 1;
    transition: all 5s;
}

a:focus, a:hover {
    color: blue;
    opacity: 0.5;
    text-decoration: underline;
    transition: all 5s;
}

a:visited {
    color: green;
    opacity: 0.5;
    text-decoration: underline;
    transition: all 5s;
}

